body {
  font-family: "Montserrat", sans-serif;
}

nav,
.left,
.logo,
.search-bar,
.profile,
.cardName-purple,
.cardName-darkpurple,
.cardName-blue,
.cardName-lightblue {
  display: flex;
  align-items: center;
}

nav {
  height: 10dvh;
  background-color: white;
  padding: 13px 30px;
  justify-content: space-between;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  margin-right: 20px;
}

.logo img {
  height: 45px;
  width: auto;
}

.divider {
  width: 4px;
  height: 40px;
  background-color: #f6f7f8;
  margin: 0 20px;
}

.search-bar {
  padding: 5px 10px;
  border-radius: 4px;
}

.search-bar img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.search-bar input[type="search"] {
  font-size: 18px;
  padding: 6px;
  border: 0px;
}

.search-bar input[type="search"]::placeholder {
  font-weight: 300 !important;
  font-family: "Roboto", sans-serif;
  color: #c5cacd;
}

.search-bar button {
  padding: 6px 10px;
  display: flex;
  border-radius: 4px;
  border: none;
  background-color: #4caf50;
  cursor: pointer;
}

.profile {
  margin-right: 20px;
}

.profile img {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.profile-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #646678;
  margin-left: 12px;
  font-size: 17px;
}

.kanban {
  height: 90dvh;
  background-color: #f6f7f8;
  padding: 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
}

.column {
  margin-right: 20px;
  padding: 10px;
  background-color: #f6f7f8;
  border-radius: 2px;
  min-width: 315px;
}

.column-header {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 30px;
}

.card {
  margin-bottom: 20px;
  padding: 14px 16px;
  background-color: #fff;
  border-radius: 4px;
}
.card-parent {
  height: 70vh;
  overflow: scroll;
}
.card h1 {
  font-weight: bold;
  font-size: 16px;
  color: #3e425f;
}

.card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #c5cacd;
}

.cardDetails {
  display: flex;
  font-size: 10px;
  height: 30px;
  justify-content: space-between;
  margin-top: 10px;
}

.cardName-purple,
.cardName-darkpurple,
.cardName-blue,
.cardName-lightblue {
  height: 28px;
  width: 28px;
  align-self: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
}
.cardName-purple {
  background-color: #c134f8;
}
.cardName-darkpurple {
  background-color: #885bf4;
}
.cardName-blue {
  background-color: #3691fb;
}
.cardName-lightblue {
  background-color: #3dcefb;
}

.cardDueDate,
.cardDueDate-red,
.cardDueDate-green,
.cardDueDate-purple,
.cardDueDate-gray {
  font-size: 12px;
}
.cardDueDate-red {
  color: #ef0000;
}
.cardDueDate-green {
  color: #4ad96e;
}
.cardDueDate-purple {
  color: #8730ff;
}
.cardDueDate-gray {
  color: #b1b9c6;
}

/* Mobile breakpoints */
@media (max-width: 1280px) {
  .column {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .pagination {
    display: none;
  }
  .column {
    margin-right: 0px !important;
    display: block !important;
  }
}

/* Pagination */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: #646678;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
