@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  background: #f5f5f5;
  padding: 8rem;
  width: 100%;
  minheight: 100vh;
}

p {
  color: #000;
}

button {
  font: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
